* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
    background-color: #121212;
}

.carousel-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 10;
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.carousel::-webkit-scrollbar {
  display: none; /* WebKit */
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;

}

.slide img {
 object-fit: cover;
}

.indicators {
  position: absolute;
  bottom: 2rem;
  /* left: 0; */
  right: 2%;
  top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.indicator {
  width: 120px;
  height: 95px;
  border-radius: .5rem;
 
  transition: all 0.3s ease;
}

.indicator img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.indicator.active {
  transform: scale(1.25);
}

